.jumbotron  {
  /* background-image: url(https://live.staticflickr.com/4605/38874094224_e23d4bcf49_b.jpg); */

  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71tbNvruyML._SL1500_.jpg);
  background-size: cover;
}

.resize {
  width: 250px;
  height: auto;
  text-align: center;
  margin-left: 10%;
}

.about-margin {
  margin-top: 40px;
  margin-left: 100px;
}

.col-md-3 {
  margin-left: 60px;

}
